extends ../template.pug

block title
  title Socket.IO chat | Login

block append styles
  include ./index.css

block content
  body
    h1 Enter Username
    p#error= errorMsg || ''
    form(id='form' action='/login' method='POST')
      input(name='username' autocomplete="off" placeholder='Username' required)
      input(name='password' autocomplete="off" placeholder='Password' required)
      button Send