extends ../template.pug

block title
  title Socket.IO chat | Login

block append styles
  include ./index.css

block content
  body
    h1 Enter Username
    form(id='form' action='/login' method='POST')
      input(id="input" name='username' autocomplete="off" placeholder='Username')
      button Send